language: java
jdk:
  - openjdk8
env:
  - IDEA_VERSION=IC-2016.3.8
  - IDEA_VERSION=IC-2017.3.6
  - IDEA_VERSION=IC-2018.2.7
  - IDEA_VERSION=IC-2018.3.3
  - IDEA_VERSION=IC-2019.3

script:
  - ./gradlew build -PideaVersion=$IDEA_VERSION